# Duplicate this file and rename as '.env.local' for local development.
# You must obtain OpenAI or Azure OpenAI credentials to run this application.
# For detailed instructions on using these variables, visit:
# https://github.com/blrchen/chatgpt-lite#environment-variables

# OpenAI API credentials (required for using the OpenAI API):
# Sign up at https://openai.com/api/ to get your API key.
OPENAI_API_KEY= # <-- Insert your OpenAI API key here
OPENAI_API_BASE_URL="https://api.openai.com"

# Azure OpenAI API credentials (required for using the Azure OpenAI API):
# Sign up at https://azure.microsoft.com/en-us/services/cognitive-services/openai/ for Azure OpenAI credentials.
# Uncomment the following lines and insert your credentials if you're using Azure OpenAI.
# AZURE_OPENAI_API_BASE_URL= # <-- Insert your Azure OpenAI API base URL here
# AZURE_OPENAI_API_KEY= # <-- Insert your Azure OpenAI API key here
# AZURE_OPENAI_DEPLOYMENT= # <-- Insert your Azure OpenAI deployment name here
NEXT_PUBLIC_PRIVY_APP_ID=cm9o068p3010nky0lp4w3plj1
PRIVY_APP_SECRET=aDsN6MeJ4qQFPmfQjLAEJ2ijSUYu7Kc5r6WTQagCYQZr2UG8Zw6J1XYZt4Jxgd6fwp7pmiwZCxmhKi6Qn1evhxh

NEXT_PUBLIC_API_URL=http://localhost:4000
GOOGLE_ID=
GOOGLE_SECRET=
NEXTAUTH_SECRET=mRO3V/pN+U5oDejDSYGRoIvVa/Twalvl9yqSXRVJIv8=
NEXT_PUBLIC_QIANKUN_BASE=/client
NEXT_PUBLIC_PROJECT_ID="ef61858f387359a30a9b9f178c21a93c"
UPSTASH_REDIS_REST_URL="https://flowing-yak-20528.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AVAwAAIjcDFmNWJkMzIxMjUxNTc0NzRhOWNmZWQ4NDQ0NDQ5MmE4YXAxMA"
NEXT_PUBLIC_API_BASE_URL=https://defail-api.vercel.app
NEXT_PUBLIC_PRIVY_APP_CLIENT_ID="client-WY5ivjAvvQ3zmxbMPFbhBCSvztYQNDFmScovZdjHecB4U"

